/* .accordian{
   background-color: aliceblue;


} */
/* .btn{
    
    
} */


.bg {
  background-color: #e5e5e5;
}

.icons {
  display: flex;
  justify-content: space-around;
}
.main {
  margin-top: 30px;
  padding-left: 600px;
  margin-right: 500px;
  max-width: 100vw;
}
.radio {
  margin: 20px;
}
.name {
  display: flex;
}
.namedel {
  display: flex;
  align-content: flex-end;
  /* justify-content: flex-end; */
  margin-top: -60px;
  margin-bottom: 5px;
  margin-left: 565px;
}
/* .content{
    width:auto;
    background-color:whitesmoke;
    border-radius: 5px;
    border-style: hidden;;
    margin:3px;
    
    
} */
a {
  text-decoration: none !important;
}
.acc1 {
  border: none !important;
  margin-left: 10px;
  margin-top: -60px;
}
.acc2{
  border: none !important;
  margin-left: 10px;

}
/* .acchead{
    background-color:#e5e5e5;
} */
.del {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  width: 1%;
}
.del {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  margin-top: -35px;
  margin-bottom: -20px;
}
.del1{
  display: flex;
  /* justify-content: flex-end; */
  /* align-content: flex-start;
   */
  margin-top: -25px;
  margin-left:260px;
}
.strikeOff {
  text-decoration: line-through;
}
.text-light {
  margin-left: 50px;
  margin-top: -10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.plus {
margin-top:-90px;
margin-left:340px; 
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #eceff1;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: inline;
  position: fixed;
  top: 0;
  left: -100%;
  width: 25vw;
  height: 100%;
  margin-top: 47px;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  /* box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);  */
  transition-duration: 0.4s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}
.display {
  text-decoration: none !important;
  color: #000 !important ;
}